@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
  
}

body {
  background: rgb(19, 36, 19) url('../assets/home-background.jpg') no-repeat fixed;
  background-position: center;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

body, input, button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}