.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  margin-top: 25px;
  width: 100%;
  max-width: 450px;
}

.inner {
  margin: 100px auto;
  max-width: 450px;
  width: 95%;
  background-color: #f1f1f1;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}

.modalsClose{
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 15px;
  z-index: 1;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
h1 {
  font-weight: 400;
}
.logo {
  height: 40px;
}

/* section{
  
  justify-content: center;
  align-items: center;
}
*/
.content{
  width: 90%;
  padding: 5%;
}

.content form {
  width: 100%;
}


.label {

  width: 100%;
  align-self: initial;
  padding-bottom: 10px;
}

.input {
  width: 100%;
  margin: 10px 0px;
  height: 30px;
}

.button {
  padding: 10px;
  margin-bottom: 5%;
  border: none;
  color: white;
  background-color:#19736A;
  font-weight: bold;
  border-radius: 2px;

  margin-left: 83.5%;
}

.button:hover {
  transition: 0.5s;
   background-color: #08403A;
}

/* .containerModal{
  margin: 0px;
  margin-top: 25px;
  width: 100%;
  max-width: 450px;
} */
